@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #004B23;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

header img {
    max-width: 100px;
    margin-bottom: 10px;
}


h1,
h2,
h3 {
    font-weight: 700;
}

p {
    font-weight: 400;
    line-height: 1.6;
}

.metodologia p {
    font-weight: 300;
    color: #333;
}

.metodologia {
    background: #ffffff;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.metodologia img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.metodologia h3 {
    font-size: 22px;
    color: #004B23;
}

.metodologia ul {
    padding-left: 20px;
}

.metodologia li {
    font-size: 14px;
    margin-bottom: 5px;
}